<ng-container title="Overview" title-suffix="Host"></ng-container>
<mat-tab-group (focusChange)="expandedElem = null">
    <mat-tab label="Overview">
        <div class="overview" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <div fxLayoutAlign="start center">
                <mat-icon style="margin: 2px 8px 2px 0">search</mat-icon>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput (keyup)="search($event.target.value)" placeholder="Search">
                </mat-form-field>
                <button mat-icon-button color="primary" style="margin-left: 20px;" (click)="download()">
                    <mat-icon aria-label="Download Excel Report" matTooltip="Download Excel Report">save_alt</mat-icon>
                </button>
            </div>
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="name" matSortDisableClear matSortDirection="asc" class="mat-elevation-z4">
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let elem; columns: displayedColumns;" class="host" [class.expanded-row]="expandedElem === elem" (mouseenter)="expandedElem = elem" (mouseleave)="expandedElem = null"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expanded_details']" class="details-header"></tr>
        
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event? toggle(): null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event? selection.toggle(row): null" [checked]="selection.isSelected(row)"></mat-checkbox>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let elem" [routerLink]="elem.name" class="name"> {{elem.name}} </td>
                </ng-container>
                
                <ng-container matColumnDef="os">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OS </th>
                    <td mat-cell *matCellDef="let elem"> {{elem.os}} </td>
                </ng-container>
        
                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
                    <td mat-cell *matCellDef="let elem"> {{elem.department}} </td>
                </ng-container>
        
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let elem"> {{elem.type}} </td>
                </ng-container>
        
                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
                    <td mat-cell *matCellDef="let elem"> {{elem.comment}} </td>
                </ng-container>
        
                <ng-container matColumnDef="manufacturer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm="true"> Manufacturer </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-sm="true"> {{elem.manufacturer}} </td>
                </ng-container>
        
                <ng-container matColumnDef="model">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm="true"> Model </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-sm="true"> {{elem.model}} </td>
                </ng-container>
                
                <ng-container matColumnDef="serial_num">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-xl="true"> Serial Num </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-xl="true"> {{elem.serial_number}} </td>
                </ng-container>
        
                <ng-container matColumnDef="rack_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-lg="true"> Rack Name </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-lg="true"> {{elem.rack_name}} </td>
                </ng-container>
        
                <ng-container matColumnDef="slot_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-lg="true"> Slot Name </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-lg="true"> {{elem.rack_slot}} </td>
                </ng-container>
        
                <ng-container matColumnDef="cpu_model">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-lg="true"> CPU Model </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-lg="true"> {{elem.cpu_model}} </td>
                </ng-container>
        
                <ng-container matColumnDef="cpu_base_freq">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-xl="true"> CPU Base Freq </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-xl="true"> {{elem.cpu_base_freq}} </td>
                </ng-container>
        
                <ng-container matColumnDef="cpu_count">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-xl="true"> CPU Count </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-xl="true"> {{elem.cpu_count}} </td>
                </ng-container>
        
                <ng-container matColumnDef="cpu_cores">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-lg="true"> CPU Cores </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-lg="true"> {{elem.cpu_cores}} {{(elem.cpu_threads)? '/': ''}} {{(elem.cpu_threads)? elem.cpu_threads: ''}} </td>
                </ng-container>
        
                <ng-container matColumnDef="memory_populated_dimms">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-xl="true"> Populated DIMMs </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-xl="true"> {{elem.populated_dimms}} {{(elem.maximum_dimms)? '/': ''}} {{(elem.maximum_dimms)? elem.maximum_dimms: ''}} </td>
                </ng-container>
        
                <ng-container matColumnDef="memory_installed_capacity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-lg="true"> Installed Memory </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-lg="true"> {{elem.installed_memory}} </td>
                </ng-container>
        
                <ng-container matColumnDef="network_primary_ip">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true"> Primary IP </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-md="true"> {{elem.primary_ip_address}} </td>
                </ng-container>
        
                <ng-container matColumnDef="network_ipmi_address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true"> IPMI Address </th>
                    <td mat-cell *matCellDef="let elem" fxHide.lt-md="true"> {{elem.ipmi_address}} </td>
                </ng-container>
        
                <!-- Expanded Content Column -->
                <ng-container matColumnDef="expanded_details">
                    <td mat-cell *matCellDef="let elem" [attr.colspan]="displayedColumns.length">
                        <div class="details-container" [@expandDetails]="(elem == expandedElem)? 'expanded': 'collapsed'" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" *delay>
                            <div fxHide fxShow.lt-xl="true" fxFlex="1 1 auto" class="details-manufacturer">
                                <h3>Basic Information</h3>
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="6px">
                                    <div fxHide fxShow.lt-sm="true" fxLayout="row">
                                        <div class="key"> Manufacturer: </div>
                                        <div class="value"> {{elem.manufacturer}} </div>
                                    </div>
                                    <div fxHide fxShow.lt-sm="true" fxLayout="row">
                                        <div class="key"> Model: </div>
                                        <div class="value"> {{elem.model}} </div>
                                    </div>
                                    <div fxLayout="row">
                                        <div class="key">Serial Number:</div>
                                        <div class="value">{{elem.serial_number}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-lg="true" fxLayout="row">
                                        <div class="key">Rack Name:</div>
                                        <div class="value">{{elem.rack_name}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-lg="true" fxLayout="row">
                                        <div class="key">Slot Name: </div>
                                        <div class="value">{{elem.rack_slot}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-lg="true" fxLayout="row">
                                        <div class="key">CPU Model: </div>
                                        <div class="value">{{elem.cpu_model}}</div>
                                    </div>
                                    <div fxLayout="row">
                                        <div class="key">CPU Base Frequency:</div>
                                        <div class="value">{{elem.cpu_base_freq}}</div>
                                    </div>
                                    <div fxLayout="row">
                                        <div class="key">CPU Count:</div>
                                        <div class="value">{{elem.cpu_count}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-lg="true" fxLayout="row">
                                        <div class="key">CPU Cores:</div>
                                        <div class="value">{{elem.cpu_cores}} {{(elem.cpu_threads)? '/': ''}} {{(elem.cpu_threads)? elem.cpu_threads: ''}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-xl="true" fxLayout="row">
                                        <div class="key">Populated DIMMs:</div>
                                        <div class="value">{{elem.populated_dimms}} {{(elem.maximum_dimms)? '/': ''}} {{(elem.maximum_dimms)? elem.maximum_dimms: ''}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-lg="true" fxLayout="row">
                                        <div class="key">Installed Memory: </div>
                                        <div class="value">{{elem.installed_memory}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-md="true" fxLayout="row">
                                        <div class="key">Primary IP:</div>
                                        <div class="value">{{elem.primary_ip_address}}</div>
                                    </div>
                                    <div fxHide fxShow.lt-md="true" fxLayout="row">
                                        <div class="key">IPMI Address:</div>
                                        <div class="value">{{elem.ipmi_address}}</div>
                                    </div>
                                </div>
                                
                            </div>
                            <div fxFlex="1 1 auto" class="details-virtual-disks">
                                <h3>Virtual Disks</h3>
                                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px">
                                    <div *ngFor="let vd of elem.virtual_disks" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                                        <div style="font-weight: 600;">{{vd.name}}</div>
                                        <div>{{vd.layout}}</div>
                                        <div>{{vd.size}}</div>
                                    </div>
                                </div>
                            </div>
                            <div fxFlex="1 1 auto" class="details-logical-interfaces">
                                <h3>Logical Interfaces</h3>
                                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px">
                                    <div *ngFor="let li of elem.logical_intfs" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                                        <div style="font-weight: 600;">{{li.name}}</div>
                                        <div>Type: {{li.type}}</div>
                                        <div fxLayout="column" fxLayoutGap="4px">
                                            <div *ngFor="let m of li.members">{{m.name}} MAC: {{m.mac_address}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>
        </div>
    </mat-tab>

    <mat-tab label="Host Map">
        <h1>/* MAP CHART HERE */</h1>
    </mat-tab>

</mat-tab-group>
